// Sitewide Palette

// Lite Theme
$ClrLt: #fff; //bg
$ClrLtAcc1: #f8f8f8; //accent bg color
$ClrLtAcc2: #eee; //accent bg color
$ClrBlue: #8ca3d4;
$ClrLtBlue: #c1cde8;

//Medium Theme
$ClrMed:  #232323; //bg
$ClrDarkAcc1: #232323; //accent bg color
$ClrDarkAcc2: #171717; //accent bg color
$ClrGreen: #8cc8a8;
$ClrLtGreen: #c1e1d0;

//Dark Theme
$ClrDark: #000; //bg
$ClrMedAcc1: #414141; //accent bg color
$ClrMedAcc2: #2c2c2c; //accent bg color
$ClrGold: #ffd68c;
$ClrLtGold: #ffe9c1;

// Grid Line Color
$GridLine: rgba( #a6aab5, 0.22);

//Main Text Colors
$ClrWhite: #fff;
$ClrBlack: #000;



// Universal Color Styles
body {
  background-color: $ClrWhite;
  color: $ClrBlack;

  main {
    background-color: $ClrWhite;
  }
}

.txt-clr-white {
  color: $ClrWhite;
}

.txt-clr-black {
  color: $ClrBlack;
}

.txt-clr-lt-blue {
  color: $ClrLtBlue;
}


// Background Colors
.bg-clr-dark {
  background-color: $ClrDark;
}

.bg-clr-med {
  background-color: $ClrMed;
}

.bg-clr-lt {
  background-color: $ClrLt;
}



// #####################################
// selections
// #####################################

::-moz-selection {
  background: $ClrDark;
  color: $ClrWhite;
}

::selection {
  background: $ClrDark;
  color: $ClrWhite;
}

.section {
  &.theme-dark {
    @extend .bg-clr-dark;

    .inner {
      * {
        color: $ClrWhite;
      }

      .accent-clr-lt {
        color: $ClrLtGold;
      }
  
      .accent-clr {
        color: $ClrGold;
      }
    }

    .bg-clr-accent-1, &.bg-clr-accent-1 {
      background-color: $ClrDarkAcc1;
    }

    .bg-clr-accent-2, &.bg-clr-accent-2 {
      background-color: $ClrDarkAcc2;
    }

    .bg-clr-theme, &.bg-clr-theme {
      background-color: $ClrGold;

      * {
        color: $ClrBlack;
      }
    }

    .bg-clr-theme-lt, &.bg-clr-theme-lt {
      background-color: $ClrLtGold;

      * {
        color: $ClrBlack;
      }
    }
  }

  &.theme-med {
    @extend .bg-clr-med;

    .inner {
      * {
        color: $ClrWhite;
      }

      .accent-clr-lt {
        color: $ClrLtGreen;

        * {
          color: $ClrBlack;
        }
      }
  
      .accent-clr {
        color: $ClrGreen;
      }
    }

    .bg-clr-accent-1, &.bg-clr-accent-1 {
      background-color: $ClrMedAcc1;
    }

    .bg-clr-accent-2, &.bg-clr-accent-2 {
      background-color: $ClrMedAcc2;
    }

    .bg-clr-theme, &.bg-clr-theme {
      background-color: $ClrGreen;

      * {
        color: $ClrBlack;
      }
    }

    .bg-clr-theme-lt, &.bg-clr-theme-lt {
      background-color: $ClrLtGreen;

      * {
        color: $ClrBlack;
      }
    }
  }

  &.theme-lt {
    @extend .bg-clr-lt;

    .inner {
      * {
        color: $ClrBlack;
      }

      .accent-clr-lt {
        color: $ClrLtBlue;
      }
  
      .accent-clr {
        color: $ClrBlue;
      }
    }

    .bg-clr-accent-1, &.bg-clr-accent-1 {
      background-color: $ClrLtAcc1;
    }

    .bg-clr-accent-2, &.bg-clr-accent-2 {
      background-color: $ClrLtAcc2;
    }

    .bg-clr-theme, &.bg-clr-theme {
      background-color: $ClrBlue;

      * {
        color: $ClrWhite;
      }
    }

    .bg-clr-theme-lt, &.bg-clr-theme-lt {
      background-color: $ClrLtBlue;

      * {
        color: $ClrWhite;
      }
    }
  }
}
