<section class="section theme-{{ include.theme }} accent-text-block">
  <div class="inner bg-clr-theme">
    <div class="text">
        <div class="h4">
          Lorem Ipsum Dolor Sit Amet
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        </p>
    </div>
  </div>
</section>