<div class="birth-date">
    <svg class="svg-obj"  x="0px" y="0px"
        viewBox="0 0 114 107" style="enable-background:new 0 0 114 107;" xml:space="preserve">
    <path class="path" d="M16.6,48V18c0-0.5,0.3-0.8,0.8-0.8h4.8c0.4,0,0.7,0.2,0.9,0.5l6.5,10.5c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1
        l6.6-10.5c0.2-0.3,0.5-0.5,0.9-0.5h4.8c0.5,0,0.8,0.3,0.8,0.8v30c0,0.5-0.3,0.8-0.8,0.8h-4.8c-0.5,0-0.8-0.3-0.8-0.8V28.5
        c0-0.1,0-0.2-0.1-0.2c-0.1,0-0.1,0-0.2,0.1l-4.5,7.4c-0.2,0.3-0.5,0.5-0.9,0.5h-2.3c-0.4,0-0.7-0.2-0.9-0.5l-4.5-7.4
        c-0.1-0.1-0.1-0.2-0.2-0.1c-0.1,0-0.1,0.1-0.1,0.2V48c0,0.5-0.3,0.8-0.8,0.8h-4.8C16.9,48.8,16.6,48.5,16.6,48z"/>
    <path class="path" d="M68,48.1l-1.3-4.2c0-0.1-0.1-0.2-0.3-0.2h-11c-0.2,0-0.2,0.1-0.3,0.2l-1.3,4.2c-0.2,0.4-0.4,0.6-0.9,0.6h-5.2
        c-0.3,0-0.5-0.1-0.6-0.2c-0.1-0.2-0.1-0.4,0-0.6l9.6-30c0.1-0.4,0.4-0.6,0.9-0.6h6.6c0.4,0,0.7,0.2,0.9,0.6l9.6,30
        c0,0.1,0,0.2,0,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2h-5.2C68.4,48.8,68.1,48.5,68,48.1z M56.9,38.8h8
        c0.2,0,0.3-0.1,0.2-0.3l-4-13.7c0-0.1-0.1-0.2-0.2-0.2s-0.1,0.1-0.2,0.2l-4,13.7C56.7,38.7,56.8,38.8,56.9,38.8z"/>
    <path class="path" d="M82.8,47.9V36.8l-0.1-0.4l-9.1-18.3c-0.1-0.1-0.1-0.3-0.1-0.4c0-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.1,0.5-0.1h5.2
        c0.4,0,0.7,0.2,0.9,0.6l5.5,11.7c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1l5.5-11.7c0.2-0.4,0.5-0.6,0.9-0.6h5.3
        c0.4,0,0.7,0.2,0.7,0.5c0,0.2,0,0.3-0.1,0.4l-9.2,18.3l-0.1,0.4v11.1c0,0.5-0.3,0.8-0.8,0.8h-4.8C83,48.7,82.8,48.5,82.8,47.9z"/>
    <path class="path" d="M22.2,58.3h5.1c0.5,0,0.8,0.3,0.8,0.8v30c0,0.5-0.3,0.8-0.8,0.8h-4.8c-0.5,0-0.8-0.3-0.8-0.8V64.5c0-0.1,0-0.2-0.1-0.2
        c-0.1-0.1-0.1-0.1-0.2,0l-4,0.8h-0.2c-0.5,0-0.7-0.2-0.7-0.7v-3.4c0-0.4,0.2-0.7,0.6-0.9l4.1-1.6C21.5,58.3,21.8,58.3,22.2,58.3z"/>
    <path class="path" d="M53.2,79.7c0,1.7-0.3,3.3-0.9,4.7c-0.8,1.8-2,3.2-3.6,4.2c-1.7,1-3.6,1.5-5.9,1.5c-2.3,0-4.3-0.5-6-1.6
        c-1.7-1.1-2.9-2.5-3.6-4.4c-0.5-1.3-0.8-2.8-0.8-4.4V66.1c0-1.6,0.4-3.1,1.3-4.3c0.9-1.2,2-2.2,3.6-2.9c1.5-0.7,3.3-1,5.3-1
        c1.9,0,3.7,0.3,5.2,1c1.5,0.7,2.7,1.6,3.5,2.8c0.8,1.2,1.2,2.6,1.2,4.2v1c0,0.5-0.3,0.8-0.8,0.8h-4.8c-0.2,0-0.4,0-0.6-0.1
        c-0.1-0.1-0.2-0.2-0.2-0.4v-0.5c0-1-0.3-1.8-1-2.5c-0.7-0.7-1.5-1-2.6-1c-1.1,0-2,0.3-2.7,1c-0.7,0.7-1.1,1.5-1.1,2.6v4.1
        c0,0.1,0,0.2,0.1,0.2c0.1,0,0.1,0,0.2-0.1c1.3-1,2.9-1.5,4.9-1.5c1.8,0,3.4,0.4,4.8,1.2c1.4,0.8,2.5,2,3.4,3.6
        C52.8,75.8,53.2,77.6,53.2,79.7z M46.8,79.8c0-1.2-0.2-2.2-0.7-3c-0.8-1.2-1.8-1.8-3.3-1.8c-1.6,0-2.7,0.6-3.4,1.8
        c-0.5,0.8-0.7,1.8-0.7,3c0,1.1,0.2,2,0.6,2.7c0.7,1.3,1.8,2,3.4,2c1.6,0,2.7-0.7,3.4-2C46.6,81.8,46.8,80.9,46.8,79.8z"/>
    <path class="path" d="M69.5,71.7h-4c-0.2,0-0.3,0.1-0.3,0.3v9.3c0,1,0.2,1.7,0.6,2.2c0.4,0.5,1.1,0.7,2,0.7H69c0.5,0,0.8,0.3,0.8,0.8v3.9
        c0,0.5-0.3,0.8-0.8,0.8c-1.1,0.1-2,0.1-2.5,0.1c-2.5,0-4.4-0.4-5.6-1.3c-1.2-0.8-1.9-2.4-1.9-4.7V72c0-0.2-0.1-0.3-0.3-0.3h-2.3
        c-0.5,0-0.8-0.3-0.8-0.8v-3.6c0-0.5,0.3-0.8,0.8-0.8h2.3c0.2,0,0.3-0.1,0.3-0.3v-5.1c0-0.5,0.3-0.8,0.8-0.8h4.6
        c0.5,0,0.8,0.3,0.8,0.8v5.1c0,0.2,0.1,0.3,0.3,0.3h4c0.5,0,0.8,0.3,0.8,0.8v3.6C70.3,71.5,70,71.7,69.5,71.7z"/>
    <path class="path" d="M92,68.5c1.5,1.5,2.2,3.5,2.2,6V89c0,0.5-0.3,0.8-0.8,0.8h-4.8c-0.5,0-0.8-0.3-0.8-0.8V75.8c0-1.2-0.3-2.2-1-2.9
        c-0.7-0.7-1.5-1.1-2.7-1.1c-1.1,0-2,0.4-2.7,1.1c-0.7,0.8-1,1.7-1,2.9V89c0,0.5-0.3,0.8-0.8,0.8h-4.8c-0.5,0-0.8-0.3-0.8-0.8V59
        c0-0.5,0.3-0.8,0.8-0.8h4.8c0.5,0,0.8,0.3,0.8,0.8v9.6c0,0.1,0,0.2,0.1,0.2c0.1,0,0.1,0,0.2-0.1c1.2-1.7,3-2.5,5.4-2.5
        C88.6,66.3,90.5,67,92,68.5z"/>
    </svg>
</div>
