<footer class="bg-clr-medium">
    <div class="inner bg-clr-medium">
        <div class="container row">
            <div class="left">
                <div class="row">
                    <div>Deja Vu Salon</div>
                    <div class="social">
                        <a href="https://www.facebook.com/dejavumindensalon/" target="_blank">{% include svg-facebook-dark.html %}</a>
                        <a href="https://www.yelp.com/biz/deja-vu-salon-minden?osq=deja+vu" target="_blank">{% include svg-yelp-dark.html %}</a>
                    </div>
                </div>
                <div>© 2018 Deja Vu Full Service Salon</div>
            </div>
            <div class="right">
                <a href="tel:7757828776">775.782.8776</a>
                <div class="row">
                    <a href="/#services">Services</a>
                    <a href="/#about">About</a>
                    <a href="/#location">Location</a>
                </div>
            </div>
        </div>
    </div>
</footer>