<section class="section theme-{{ include.theme }} horizontal-list">
  <div class="inner flex-row row-break">

      <div class="block">
        <div class="h2 accent-clr-lt">01</div>
        <div class="h4">Lorem Ipsum Dolor Sit Amet</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
      </div>
      <div class="block padding-left">
        <div class="h2 accent-clr-lt">02</div>
        <div class="h4">Lorem Ipsum Dolor Sit Amet</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
      </div>
    
  </div>
</section>