<div class="theme-dark scrolling-text">
    <span class="sliding">
        <span>CHUCK</span>
        <span>GARRIC</span>
        <span> - </span>
        <span>CHUCK</span>
        <span>GARRIC</span>
    </span>
    <div class="wrapper">
        <span class="sliding">
            <span>CHUCK</span>
            <span>GARRIC</span>
            <span> - </span>
            <span>CHUCK</span>
            <span>GARRIC</span>
        </span>
    </div>
</div>