<section class="section text-with-image-block theme-{{ include.theme }} {{ include.reverse }}">
  <div class="inner flex-row row-break f1-to-1 align-stretch no-padding">
    <div class="block padding-sides-2x padding-breads bg-clr-accent-1">
      <div class="h3">Lorem Ipsum</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
    </div>
    <div class="block padding-sides-2x padding-bread">
      <img class="absolute-image mask-under" src="https://source.unsplash.com/1600x900/?greyscale" alt="test alt">
      <img class="absolute-image mask" src="https://source.unsplash.com/1600x900/?greyscale" alt="test alt">
    </div>
  </div>
</section>