<section class="section text-with-image theme-{{ include.theme }}">
  <div class="inner flex-row row-break">
    <div class="block">
      <div class="h3"></div>
      <p></p>
      <a class="btn btn-fill" href="/">{% if include.theme == 'med' %}<span>Learn More</span><span></span>{% else %}Learn More{% endif %}</a>
    </div>
    <div class="block">
      <img class="absolute-image mask-under" src="https://source.unsplash.com/1600x900/?greyscale" alt="test alt">
      <img class="absolute-image mask" src="https://source.unsplash.com/1600x900/?greyscale" alt="test alt">
      <div class="absolute-layer">
        <img class="absolute-image mask-under" src="https://source.unsplash.com/1600x900/?greyscale" alt="test alt">
        <img class="absolute-image mask" src="https://source.unsplash.com/1600x900/?greyscale" alt="test alt">
      </div>
    </div>
  </div>
</section>