<?xml version="1.0" encoding="UTF-8"?>
<svg width="6px" height="11px" viewBox="0 0 6 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Concept-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="NJC-v2" transform="translate(-784.000000, -6082.000000)" fill="#FFFFFF">
            <g id="Group-27" transform="translate(0.000000, 4652.000000)">
                <g id="Group-9" transform="translate(630.000000, 1414.000000)">
                    <g id="Group">
                        <polygon id="Rectangle" transform="translate(154.740513, 21.500000) rotate(-45.000000) translate(-154.740513, -21.500000) " points="158.180168 17.9396552 158.300858 25.0603448 151.180168 24.9396552"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>