// GENERAL SECTION STYLES
section, footer, header {
  overflow: hidden;
  padding: 0 $Base / 2;
  width:100%;
  @media (max-width: $BaseMediaSm){
    padding: 0 $Base / 4;
  }

  &.centered {
    text-align: center;

    .container {
      position: relative;

      &:before {
        background-color: rgba($ClrMedium, 0.5);
        bottom: 0;
        content: '';
        left: $Base - $Base / 8;
        mix-blend-mode: darken;
        position: absolute;
        top: $Base * 1.5;
        width: $Base / 1.5;
        @media (max-width: $BaseMediaMd){
          left: $Base / 2 - $Base / 8;
        }
        @media (max-width: $BaseMediaSm){
          left: $Base / 8;
        }
      }
    }

    h2 {
      padding-left: 0;
      padding-right: 0;

      &:before {
        content: none;
      }

      &:after {
        left: 30%;
      }
    }
  }


  &.padding-top-half {
    padding-top: $Base;
    @media (max-width: $BaseMediaMd){
      padding-top: $Base * 0.75;
    }
    @media (max-width: $BaseMediaSm){
      padding-top: $Base / 2;
    }
  }

  &.padding-bottom-half {
    padding-bottom: $Base;
    @media (max-width: $BaseMediaMd){
      padding-bottom: $Base * 0.75;
    }
    @media (max-width: $BaseMediaSm){
      padding-bottom: $Base / 2;
    }
  }

  &.padding-top-none {
    padding-top: 0;
  }

  &.padding-bottom-none {
    padding-bottom: 0;
  }

  .inner {
    background-color: $ClrWhite;
    margin: 0 auto;
    max-width: $BaseMaxWidth;
    padding: $Base * 2 0;
    position: relative;
    width: 100%;
    @media (max-width: $BaseMediaMd){
      padding: $Base * 1.5 0;
    }
    @media (max-width: $BaseMediaSm){
      padding: $Base 0;
    }

    .container {
      color: $ClrDark;
      margin: 0 auto;
      max-width: $ContentMaxWidth;
      padding: 0 $BaseGutterRight 0 $BaseGutterLeft;
      width: 100%;
      @media (max-width: $BaseMediaMd){
        padding: 0 $BaseGutterRight / 2 0 $BaseGutterLeft / 2;
      }
      @media (max-width: $BaseMediaSm){
        padding: 0 $BaseGutterRight / 4 0 $BaseGutterLeft / 4;
      }
    }
  }
}


// PRODUCTS SECTION
#products {
  .row {
    align-items: flex-end;
    justify-content: center;
    @media (max-width: $BaseMediaSm){
      display: block;
    }

    .item {
      border-right: 3px solid rgba( $ClrDark, 0.1);
      padding: 0 $Base;
      text-align: center;
      white-space: nowrap;
      @media (max-width: $BaseMediaSm){
        border-bottom: 3px solid rgba( $ClrDark, 0.1);
        border-right: 0;
        margin: 0 auto;
        max-width: $Base * 4;
      }

      &:last-of-type {
        border-right: none;
        @media (max-width: $BaseMediaSm){
          border-bottom: none;
        }
      }

      svg {
        margin-top: $Base / 4;
      }
    } 
  }
}


// LOCATION SECTION
#location {
  .row {
    @media (max-width: $BaseMediaSm){
      flex-direction: column-reverse;
    }
  }

  div {
    font-size: 1.3125rem;
    @media (max-width: $BaseMediaMd){
      font-size: 1.2rem;
    }
  }

  .location {
    margin-right: $Base * 2;
    @media (max-width: $BaseMediaSm){
      margin-right: 0;
      margin-top: $Base / 2;
    }

    .btn {
      margin-top: $Base / 2;
    }
  }

  .hours {
    .label {
      font-weight: 700;
      margin-top: $Base / 3;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}


// HERO SECTION
#hero {
  height: 100vh;
  max-height: 1400px;
  padding-top: $Base / 2;
  @media (max-width: $BaseMediaSm){
    padding-top: $Base / 4;
  }

  .inner {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;

    .image-container {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      img {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .container {
      align-items: flex-end;
      color: $ClrWhite;
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: space-between;
      max-width: 100%;
      padding: $Base / 4;
      position: relative;
      z-index: 2;
      @media (max-width: $BaseMediaSm){
        justify-content: center;
      }

      .scroll {
        height: $Base * 1.25;
        margin: $Base / 4;
        position: relative;
        transition: all $BaseTransition ease;
        width: $Base / 4;
        @media (max-width: $BaseMediaSm){
          bottom: $Base / 8;
          height: $Base * 1;
          left: 0;
          position: absolute;
        }

        &:hover {
          transform: translateY(#{$Base / 5});
        }

        span {
          bottom: 0;
          height: $Base / 4;
          left: 0;
          position: absolute;
          width: 100%;

          &:before, &:after {
            background-color: $ClrWhite;
            bottom: 0;
            content: '';
            height: 2px;
            position: absolute;
            width: 100%;
          }

          &:before {
            left: 0;
            transform: rotate( 45deg) translate(-5px, 2px);
          }

          &:after {
            right: 0;
            transform: rotate( -45deg) translate(5px, 2px);
          }
        }

        &:after {
          background-color: $ClrWhite;
          content: '';
          height: 100%;
          left: calc(50% - 1px);
          position: absolute;
          top: 0;
          width: 2px;
        }
      }

      h1 {
        align-self: center;
        margin-left: $Base;
        max-width: $Base * 8;
        text-shadow: 2px 2px 10px $ClrDark;
        @media (max-width: $BaseMediaMd){
          max-width: $Base * 6;
        }
        @media (max-width: $BaseMediaSm){
          margin-left: $Base / 4;
          max-width: 55vw;
        }
      }

      .social {
        margin: $Base / 4;
        width: $Base / 2;
        @media (max-width: $BaseMediaSm){
          bottom: 0;
          position: absolute;
          right: 0;
        }
        
        a {
          display: block;

          &:first-of-type {
            margin-bottom: $Base / 8;
          }
        }
      }
    }
  }
}


// SERVICES SECTION
#services {
  h2 {
    margin-bottom: 0;
  }

  .header {
    align-items: center;
    justify-content: space-between;
    padding-top: $Base * 1.5;
    @media (max-width: $BaseMediaSm){
      display: block;
      padding-top: $Base;
    }

    .tabs {
      font-size: 1.5rem;
      font-weight: 300;
      padding-bottom: 5px;
      position: relative;
      @media (max-width: $BaseMediaMd){
        font-size: 1.25rem;
      }
      @media (max-width: $BaseMediaSm){
        font-size: 1rem;
        padding-top: $Base / 4;
      }

      .active-bar {
        background-color: $ClrDark;
        bottom: 0;
        height: 2px;
        left: 0;
        position: absolute;
        transition: all $BaseTransition ease;
        width: 0;
      }

      span {
        cursor: pointer;
        padding: 0 $Base / 3;
        @media (max-width: $BaseMediaSm){
          padding: 0 $Base / 4 0 0;
        }

        &.active {
          font-weight: 400;
        }
      }
    }
  }

  .prices-container {
    padding-top: $Base / 4;

    .prices {
      display: none;

      &.active {
        display: block;
      }

      .row {
        align-items: center;
        font-size: 1.5rem;
        justify-content: space-between;
        padding: $Base / 4 0;
        @media (max-width: $BaseMediaMd){
          font-size: 1.25rem;
          padding: $Base / 6 0;
        }

        .price, .quotation {
          font-weight: 700;
          text-align: right;
        }

        .quotation {
          font-size: 1.25rem;
          @media (max-width: $BaseMediaMd){
            font-size: 1rem;
          }
        }

        .note {
          display: block;
          font-size: 0.8rem;
        }
      }
    }
  }
}

