---
layout: default
title: Home
---

<section class="bg-clr-dark" id="hero">
  <div class="inner">
    <div class="image-container">
      <img src="/assets/images/hero.jpg" alt="Young girl with dark hair">
    </div>
    <div class="container">
        <div class="scroll"><span></span></div>
      <h1>
          Deja Vu Salon
      </h1>
      
      <div class="social">
        <a href="">

        </a>
        <a href="">
          
        </a>
      </div>
    </div>
  </div>
</section>    

<section>
  <div class="inner">
    <div class="container">
      <h2>
        Services
      </h2>
      <div class="service">
        <div class="header">
          <h3>Hair</h3>
          <div class="tabs">
            <span>Haircuts</span>
            <span>Texture</span>
            <span>Color</span>
            <span>Style</span>
          </div>
          <div class="prices-container">
            <div class="prices" data-type="haircuts">
              <div class="row">
                <span class="label"></span>
                <span class="price"></span>
              </div>
            </div>
            <div class="prices" data-type="texture">
              <div class="row">
                <span class="label"></span>
                <span class="price"></span>
              </div>
            </div>
            <div class="prices" data-type="color">
              <div class="row">
                <span class="label"></span>
                <span class="price"></span>
              </div>
            </div>
            <div class="prices" data-type="style">
              <div class="row">
                <span class="label"></span>
                <span class="price"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

<section id="products">
  <div class="inner bg-clr-light">
    <div class="container row">
      <div class="item">
        {% include svg-product-1.html %}
        <h4>Kendra</h4>
      </div>
      <div class="item">
          {% include svg-product-2.html %}
        <h4>Morroccon Oil</h4>
      </div>
      <div class="item">
          {% include svg-product-3.html %}
        <h4>Redken</h4>
      </div>
    </div>
  </div>
</section>

<section class="centered">
  <div class="inner">
    <div class="container">
      <h2>
        About
      </h2>
      <p>Since 2006, we have been dedicated to serving the public and delivering customized services to our clients. At our salon, we value the importance of quality, education, and customer loyalty.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>  

<section>
  <div class="inner bg-clr-dark" id="location">
    <div class="container">
      <h2>
        Location
      </h2>
      <div class="row">
        <div class="location">
          <div>1560 U.S. 395</div>
          <div>Minden, NV 89423</div>
          <a href="" class="btn">Directions</a>
        </div>
        <div class="hours">
          <div class="label">
            Monday - Friday
          </div>
          <div>
            9am - 5pm
          </div>
          <div class="label">
            Saturday - Sunday
          </div>
          <div>
            Closed
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  