---
layout: default
title: Light Theme
---


{% comment %} {% include horizontal-list.liquid theme='lt' %} {% endcomment %}
{% comment %} {% include text-with-image-block.liquid theme='lt' %} {% endcomment %}
{% comment %} {% include text-with-image-block.liquid theme='lt' reverse="reverse" %} {% endcomment %}

{% include center-text.liquid theme='lt' btn-dest="/" btn-text="Learn More" padding-bottom="none" %}
{% include accent-text-block.liquid theme='lt' %}
{% include text-with-image.liquid theme='lt' padding-top="none" %}