---
layout: default
title: Medium Theme
---


{% comment %} {% include horizontal-list.liquid theme='med' %} {% endcomment %}
{% comment %} {% include text-with-image-block.liquid theme='med' %} {% endcomment %}
{% comment %} {% include text-with-image-block.liquid theme='med' reverse="reverse" %} {% endcomment %}

{% include center-text.liquid theme='med' btn-dest="/" btn-text="Learn More" padding-bottom="none" %}
{% include accent-text-block.liquid theme='med' %}
{% include text-with-image.liquid theme='med' padding-top="none" %}