// Button Component

// Default Styles
button,
.btn {
  align-items: center;
  background-color: $ClrWhite;
  border: 0;
  color: $ClrDark;
  color: $ClrDark !important;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 600;
  height: $BaseBtnHeight;
  justify-content: center;
  letter-spacing: 0.1rem;
  line-height: $BaseBtnHeight;
  margin: 0;
  outline: 0;
  padding: 0 $Base / 1.5;
  text-transform: uppercase;
  transition: all $BaseTransition ease;



  &:focus,
  &:active {
    border: 0;
    outline: 0;
  }

  &:hover {
    background-color: $ClrMedium !important;
  }
}
